# registry=https://registry.npmjs.org/
package-manager=pnpm@9.15.4
registry=http://192.168.11.164:4873/
# sharp_binary_host=https://npm.taobao.org/mirrors/sharp
# sharp_libvips_binary_host=https://npm.taobao.org/mirrors/sharp-libvips